In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("play_tennis.csv")
df.drop(columns=["day"], inplace=True)
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

####    Problem:
If we have given the data {Sunny, Hot, Normal, Strong} then predict if the play will be Yes/No
#### Solution:
#p(Yes | {Sunny, Hot, Normal, Strong}) = p({Sunny, Hot, Normal, Strong} | Yes) / p(Yes)
#p(No | {Sunny, Hot, Normal, Strong}) = p({Sunny, Hot, Normal, Strong} | No) / p(No)

In [ ]:
# # There are total 3 steps including in naive bayes:
# 1 . Training
# 2 . LOOKUP table
# 3 . Testing

In [6]:
df["play"].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [9]:
# so here the probabilties of py and pn are
py = 9/14
pn = 5/14
print("The Probability of Yes is: ", np.round(py,2), "and No is: ", np.round(pn,2))

The Probability of Yes is:  0.64 and No is:  0.36

In [10]:
pd.crosstab(df["outlook"], df["play"])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [11]:
# No here we will make the probabilities
Pon = 0/5
Prn = 2/5
Psn = 3/5

Poy = 4/9
Pry = 3/9
Psy = 2/9

In [12]:
pd.crosstab(df["temp"], df["play"])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [13]:
Pcooln = 1/5
Photn = 2/5
pmildn = 2/5

Pcooly = 3/9
photy = 2/9
pmildy = 4/9

In [14]:
pd.crosstab(df["humidity"], df["play"])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [15]:
phighn = 4/5
pnormaln = 1/5

phighy = 3/9
pnormaly = 6/9

In [16]:
pd.crosstab(df["wind"], df["play"])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [17]:
pstrongn = 3/5
pweakn = 2/5

pstrongy = 3/9
pweaky = 6/9

In [19]:
# outlook = sunny , temp = hot, humidity = high, wind = weak

pyes = py*Psy*photy*phighy*pweaky
pyes

0.007054673721340388

In [21]:
pno = pn*Psn*Photn*phighn*pweakn
pno

0.02742857142857143

In [27]:
result = max(pyes, pno)
result

0.02742857142857143